/*-----------------------
variables
------------------------*/
// start variables
:root {
  --mainColor:#ffc107;
  --secondMainColor:#f9c10b;
  --subColor:#dc3545;
  --p-color:#717275;
  --whiteColor:#fff;
  --darkColor:#000;
  --fw-light:400;
  --fw-medium:500;
  --fw-bold:700;
  --main-transition:all .2s linear;
}
// end variables
