// @use '../helpers/variables' as *;
/*--------------------
  Slider - hero
--------------------*/
.hero {
  height: calc(100vh - 68px);
  .carousel-hero__inner {
    // position: relative;
    z-index: 1;
    .carousel-item {
      &::before {
        content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      opacity: .7;
      background: linear-gradient(to top,var(--darkColor), transparent 90%);
    }
    .carousel__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .carousel-content {
      left: 0;
      text-align: start;
      z-index: 10;
      p {
        text-transform: uppercase;
        font-size: 14px;
      }
      h1 {
        text-transform: capitalize;
        font: {
          size:60px;
          weight:var(--fw-bold);
        }

      }
    }
  }
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: auto;
    bottom: 50px;
    left: auto;
    width: auto;
    right: 50px;
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
      width: 70px;
      height: 70px;
    }
  }
  .carousel-control-prev {
    right: 120px;
  }
}